---
import Layout from '../layouts/Layout.astro';
const title: string= "Travel Platform - B2B Bookings";
---

<Layout title={title} description="B2B Bookings Description">
  <h1 class="text-3xl font-bold underline text-red-700">B2B Bookings</h1>
</Layout>